{% extends '_base.html' %}

{% block content %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-link link-secondary link-underline link-underline-opacity-0" data-bs-toggle="modal"
    data-bs-target="#settingsModal">
    Settings
</button>

<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="settingsModalLabel">Settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="pb-1">
                    <button type="button" class="btn btn-success">
                        <a href="{{ url_for('main.images') }}" class="text-decoration-none text-reset">Images</a>
                    </button>
                    <hr>
                </div>
                <form method="POST" action="{{ url_for('main.home') }}">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <!-- Photo Order -->
                        <div class="form-group mb-1">
                            {% if form.photo_order.errors %}
                            {{ form.photo_order(class="form-control form-control-md is-invalid") }}
                            <div class="invalid-feedback font-weight-bold">
                                {% for error in form.photo_order.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.photo_order.label(class="form-control-label") }}
                            {{ form.photo_order(class="form-control form-control-md", placeholder="Photo Order") }}
                            {% endif %}
                        </div>
                        <!-- Display Time -->
                        <div class="form-group mb-1">
                            {% if form.display_time.errors %}
                            {{ form.display_time(class="form-control form-control-md is-invalid") }}
                            <div class="invalid-feedback font-weight-bold">
                                {% for error in form.display_time.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.display_time.label(class="form-control-label") }}
                            {{ form.display_time(class="form-control form-control-md", placeholder="Photo Display Time (seconds)") }}
                            {% endif %}
                        </div>
                        <!-- Fade -->
                        <div class="form-check">
                            {{ form.fade(class="form-check-input") }}
                            {{ form.fade.label(class="form-check-label", placeholder="Fade Images Out") }}
                        </div>
                    </fieldset>

                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="d-flex align-items-center justify-content-center">
    {% if settings and settings.fade %}
    <div class="fade-me-out" hx-get="/image" hx-trigger="every {{ settings.display_time }}s"
        hx-swap="innerHTML swap:1s">
    </div>
    {% else %}
    <div hx-get="/image" hx-trigger="every {{ settings.display_time if settings and settings.display_time else 5 }}s">
    </div>
    {% endif %}
</div>

{% endblock %}